<!DOCTYPE html>
<html>
  <head>
    <title>EMILY'S CHARACTER GUIDE</title>
  </head>

  <body>
    <main>
      <h1>
        <%= 'FAVORITE CHARACTERS' %>
      </h1>

      <p style="font-family:optima,garamond,cambria;font-size:20px;">
      <%= "Calvin" %>
      <br><br><%= "Hobbes" %>
      <br><br><%= "Hiccup" %>
      <br><br><%= "Penelope" %>
      <br><br><%= "Simon" %>
      </p>
    </main>
  </body>
</html>
